body {
    margin: 0;
    padding: 0;
    background: black;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 3.125em;
    /* UI Properties */
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    /* UI Properties */
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: white;
}

.head-image {
    width: 100%;
}

.desc-section {
    text-align: left;
    padding: 50px;
    padding-right: 150px;
    padding-left: 150px;
    white-space: nowrap;
}

.desc-text {
    width: 55%;
    vertical-align: middle;
    margin-right: 10%;
    white-space: normal;
    display: inline-block;
}

.desc-image {
    width: 35%;
    vertical-align: middle;
}
.char-section {
    color: #FFFFFF;
    text-align: center;
    background: #1e1a13;
    padding: 50px;
}
.icon {
width: 20%;
display: inline-block;
font-size: 1.25em;
}
.images-section {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.iguana {
    width: 19.75em;
    height: 12.625em;
    padding: 0.5em;
}
footer {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    background:#1e1a13 ;
}
